#graphtt { display: none; position: absolute; border: 1px solid #89c; background: #eef;
    opacity: 0.9; padding: 2px; color: #003; pointer-events: none; }
#graphtt_title { color: #fff; border: 1px solid #008; background-color: #357; }

h1 {
  font-family:"Georgia";
  color:orange;
  text-align:center;
}
p {
  font-family:"Georgia";
  font-size:20px;
}
/*body {  
  background-image:url(background.jpg);
  background-repeat:no-repeat;  
  background-position:top center;  
  background-color:#657077;  
  margin:40px;  
}  */

.demo-container {
	box-sizing: border-box;
	width: 850px;
	height: 450px;
	padding: 10px;
	margin: 15px auto 30px auto;
	border: 1px solid #464c54;
	background: #fff;
	background: linear-gradient(#f6f6f6 0, #fff 50px);
	background: -o-linear-gradient(#f6f6f6 0, #fff 50px);
	background: -ms-linear-gradient(#f6f6f6 0, #fff 50px);
	background: -moz-linear-gradient(#f6f6f6 0, #fff 50px);
	background: -webkit-linear-gradient(#f6f6f6 0, #fff 50px);
	box-shadow: 0 3px 10px rgba(0,0,0,0.15);
	-o-box-shadow: 0 3px 10px rgba(0,0,0,0.1);
	-ms-box-shadow: 0 3px 10px rgba(0,0,0,0.1);
	-moz-box-shadow: 0 3px 10px rgba(0,0,0,0.1);
	-webkit-box-shadow: 0 3px 10px rgba(0,0,0,0.1);
}

.demo-placeholder {
	width: 100%;
	height: 75%;
	font-size: 14px;
	line-height: 1.2em;
}

.overview-placeholder {
	width: 100%;
	height: 25%;
	font-size: 14px;
	line-height: 1.2em;
}

root { 
  display: block;
}

#fm{
    margin:0;
    padding:10px 30px;
}
.ftitle{
    font-size:14px;
    font-weight:bold;
    color:#666;
    padding:5px 0;
    margin-bottom:10px;
    border-bottom:1px solid #ccc;
}
.fitem{
    margin-bottom:5px;
}
.fitem label{
    display:inline-block;
    width:80px;
}